
StrategyDesignPattern/.vs/StrategyDesignPattern/v16/.suo
StrategyDesignPattern/StrategyDesignPattern/bin/
StrategyDesignPattern/StrategyDesignPattern/obj/
StrategyDesignPattern/StrategyDesignPattern/StrategyDesignPattern.csproj
StrategyDesignPattern/StrategyDesignPattern.sln
